/********************************* Universal CSS Code Starts ***********************************/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	list-style: none;
	scroll-behavior: smooth;
	transition: all .2s linear;
}
/********************************* Universal CSS Code Ends ***********************************/

/*********************************** CSS Custom Variables Starts ************************************/
:root{
	--green: #27ae60;
	--black: #444;
	--light-color: #666;
	--border: .1rem solid rgba(0,0,0,0.1);
	--border-hover: .1rem solid var(--black);
	--box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
/*********************************** CSS Custom Variables Ends ************************************/

/*********************************** Default CSS Code Starts ************************************/
form h1{
	color: var(--light-color);
}
html{
	font-size: 62.5%;
}
/*********************************** Default CSS Code Ends ************************************/

/*********************************** Navbar Section CSS Code Starts ************************************/
.navbar{
	width: 100%;
	height: 8rem;
	background:rgba(0, 0, 0,0.5);
	color: #fff;
}
.navbar img{
	height: 12rem;
	width: 20rem;	
}
.navbar h1{
	font-size: 4rem;
}
.navbar h1:hover{
	text-shadow: .2rem .2rem 1rem #000;
	cursor: pointer;
}
/*********************************** Navbar Section CSS Code Ends ************************************/

/*********************************** Donation Section CSS Code Starts ************************************/
.donate{
	width: 100%;
	height: 63rem;
	margin-bottom: 5rem;
	margin-top: 9rem;
}
.headings{
	padding: 1rem 0	;
}
.headings h1{
	letter-spacing: .2rem;
	font-weight: bold;
	color: var(--black);
}
.donation{
	width: 100%;
	height: 65rem;
	border: var(--border);
	box-shadow: var(--box-shadow);
	border-radius: 2rem;
}
.donation p{
	font-size: 2rem;
}
.form-group input{
	width: 73rem;
	height: 3.8rem;
}
.form-group textarea{
	width: 73rem;
	height: 11rem;
}
.form-button button{
	border: .1rem solid #50d1c0;
	border-radius: 10rem;
	margin: 0 .5rem;
	padding: 1.2rem 3.5rem;
	background: #fff;
	color: #50d1c0;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.4;
}
form:hover .form-button button{
	color: #27ae60;
	box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
}
/*********************************** Donation Section CSS Code Ends ************************************/

/*************************** Modal for Confirmation CSS Code Starts *********************************************** */
.modal-title{
	font-size: 3rem;
	letter-spacing: .2rem;
}
.modal-body{
	font-size: 1.5rem;
	letter-spacing: .1rem;
	word-spacing: .2rem;
}
.modal-body span{
	background: #0d6efd;
	color: #fff;
	padding: .3rem .6rem;
}
.modal-footer button,.modal-footer a{
	font-size: 1.5rem;
}

/*************************** Modal for Confirmation CSS Code Ends *********************************************** */

/*********************************** Footer Section CSS Code Starts ************************************/
footer{
	width: 100%;
	height: 45rem;
	margin-top: 2rem;
}
footer h3{
	font-size: 2.2rem;
	color:var(--black);
	padding:1rem 0;
}
footer a{
	display: block;
	font-size: 1.4rem;
	color:var(--light-color);
	padding:1rem 0;
	text-decoration: none;
}
footer a i{
	color:var(--green);
	padding-right: .5rem;
}
footer .footer_navigation a:hover{
	padding-right: 2rem;
	color: var(--green);
}
footer .footer_navigation a:hover i{
	padding-right: 2rem;
}
footer iframe{
	width: 100%;
	height: 30rem;
	margin: 2rem 0;
}
footer iframe:hover{
	border: var(--border-hover);
}
footer .social_links{
	padding:1rem 0;
}
footer .social_links a{
	height: 4rem;
	width: 4rem;
	line-height: 5rem;
	font-size: 2rem;
	background:var(--green);
	margin:0 .3rem;
	border-radius: 50%; 
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .social_links a i{
	color: #fff;
	padding-left: .4rem;
}
footer .social_links a:hover{
	background:var(--black);
}
.footer_email{
	text-transform: none;
}
footer .author{
	width: 100%;
	border-top: var(--border);
	margin-top: 2rem;
	padding:2.5rem 0; 
	font-size: 2rem;
	color:var(--light-color);
}
footer .author span{
	color:var(--green);
}
/*********************************** Footer Section CSS Code Ends ************************************/






/******************************** Media Queries CSS Code Starts ****************************/


@media (max-width: 1400px) {
	.donate{
		margin-top: 10rem;
	}
	.form-group input{
		width: 70rem;
	}
}

@media (max-width: 1200px) {
	.donate{
		margin-top: 10rem;
		height: 68rem;
	}
	.donation{
		height: 68rem;
	}
	.form-group input{
		width: 58rem;
	}
}

@media (max-width: 991px) {
	.navbar{
		height: 11rem;
	}
	.donate{
		margin-top: 13rem;
		height: 68rem;
	}
	.form-group input{
		width: 54rem;
	}
}

@media (max-width: 768px) {
	.form-group input{
		width: 40rem;
	}
	.donation,.donate{
		height: 65rem;
	}
}

@media (max-width: 576px) {
	html{
		font-size: 50%;
	}
	.form-group input{
		width: 49rem;
	}
	.footer_navigation{
		padding-left: 3rem;
	}
}
@media (max-width: 450px){
	html{
		font-size: 40%;
	}
	.form-group input{
		width: 38rem;
	}
}
@media (max-width: 320px){
	html{
		font-size: 38%;
	}
	.form-group input{
		width: 38rem;
	}
}
/******************************** Media Queries CSS Code Ends ****************************/